
{% include "header.html" %}

{% include "adminnavbar.html" %}



    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-3 text-white mb-4 animated slideInDown">Project </h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Search Project</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- project Start -->

                    <center>
                    <h2 class="title">
							<a href="#"> SEARCH PROJECT!</a>
                    </h2>
                    </center>
                    <br>
                    <center>
                        <div class="input-group" style="margin-left:650px">
                              <div class="form-outline">
                                <input id="search-input" type="search" id="form1" class="form-control" />
    <!--                            <label class="form-label" for="form1">Search</label>-->
                              </div>
                              <button id="search-button" type="button" class="btn btn-primary">
                                <i class="fas fa-search"></i>
                              </button>
                        </div>
                    </center>

    <!-- project End -->

{% include "footer.html" %}