{% include "header.html" %}

{% include "navbar.html" %}
<style>

        .box-1
        {
           height:300px;
           width:400px;
           margin-center:100px;
            padding-right:50px;
             justify-content:center;
             background-color:white;
           }


        .box-2
        {
           height:400px;
           width:400px;

            background-color:whitesmoke;
            padding:50px;
         }
</style>



    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-3 text-white mb-4 animated slideInDown">Renew Project Plan</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Payment Option</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


   <!-- Contact Start -->
    <center>
    <div id="con_main_box" >
        <center>
              <br>
              <div><h2><b>QR Code</b></h2></div><br>
              <div  class="box-2">
                 <img src="/static/img/QR_Code.jpg"height="300px"width="300px">
              </div>
               <br>


              <div><center>
<!--                  <button type="button" class="btn btn-primary">Back</button>-->
                  <a href="/payment-page" class="btn btn-primary">Back</a>
                          <button type="button" class="btn btn-danger">Exits</button>
              </center>
              </div>

          </center>







    </div>
    </center>


    <!-- Contact End -->

{% include "footer.html" %}