
{% include "header.html" %}

{% include "adminnavbar.html" %}


    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-3 text-white mb-4 animated slideInDown">Projects</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Projects Single Info</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Projects Start -->

        <center>
			        <h1 style="color:blue"> Single Project Info </h1>
			<br>
        <div style="width:80%">

			<table class="table table-hover">
								<tr>
									<td>Project Id</td>
									<td><input type="text" class="form-control" name="txtprojectid" placeholder="Enter the ProjectId"> </td>
								</tr>

								<tr>
									<td>Project Name</td>
									<td><input type="text" class="form-control" name="txtprojectname" placeholder="Enter the Project Name"> </td>
								</tr>

								<tr>
									<td>Client Name</td>
									<td><input type="text" class="form-control" name="txtclientname" placeholder="Enter the Client Name"> </td>
								</tr>

								<tr>
									<td>Technology</td>
									<td><input type="text" class="form-control" name="txttechnology" placeholder="Enter the Technology"> </td>
								</tr>

								<tr>
									<td>Team</td>
									<td><input type="text" class="form-control" name="txtteam" placeholder="Enter the Team Name"> </td>
								</tr>

								<tr>
									<td>Project Info</td>
									<td> <textarea class="form-control" id="exampleFormControlTextarea1" name="txtprojectinfo" rows="3" > </textarea></td>
								</tr>

								<tr>
									<td>Project Type </td>
									<td>
										<select name="txtprojecttype" id="type" class="form-control">
											<option>Website</option>
											<option>Software</option>
											<option>App</option>
										</select>
									</td>
								</tr>

								<tr>
									<td> Upload Image </td>
									<td><input type="file" class="form-control" name="projectimg" accept="image/png, image/jpeg"> </td>
								</tr>

								<tr>
									<td>Project Link</td>
									<td><input type="text" class="form-control" name="txtlink" placeholder="Enter the Project Link"> </td>
								</tr>

								<tr>
									<td>Software Licence Start Date</td>
									<td><input type="date" class="form-control" name="txtdatestart"></td>
								</tr>

								<tr>
									<td>Software Licence Expiry Date</td>
									<td><input type="date" class="form-control" name="txtdateend" ></td>
								</tr>

								<tr>
									<td>Software Lience Validity</td>
									<td>
										<select name="txtyear" id="txtyear"  class="form-control">
											<option>1 Year</option>
											<option>2 Year</option>
											<option>3 Year</option>
										</select>
									</td>
								</tr>

								<tr>
									<td> Developing Project Cost</td>
									<td><input type="number" class="form-control" name="txtcostdev" placeholder="Enter the project Renewal cost"> </td>

								</tr>

								<tr>
									<td>Renewal Project Cost</td>
									<td><input type="number" class="form-control" name="txtcostren" placeholder="Enter the project developement cost"> </td>

								</tr>

								<tr>
									<td> </td>
									<td><input type="Submit" class="btn btn-success" value="Submit"> </td>
								</tr>

							</table>



        </div>
        </center>

    <!-- Projects End -->


{% include "footer.html" %}