
{% include "header.html" %}

{% include "navbar.html" %}
<style>
 .box-1
  {
       height:400px;
       width:520px;
       margin-center:100px;
        padding-left:30px;
        padding-right:30px;
         justify-content:center;
         background-color:white;
   }

</style>



    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-3 text-white mb-4 animated slideInDown">Renew Project Plan</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Payment Option</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


   <!-- Contact Start -->
    <center>
    <div id="con_main_box" style="background-color:whitesmoke">
                    <center>

              <div class="box-1">
                  <div><h2>Payment</h2></div>
                  <div><h6 >All transaction are secure and encrypted.</h6></div>
                     <br>
                 <table class="table table-bordered table-hover">
                      <tr>
                         <td><input  type="radio" href="#" name="cradit">&nbsp;&nbsp;Cradit card&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         <img src="/image/visa1.png" height="12px" width="25px">
                          <img src="image/circle1.png" height="12px" width="25px">
                          <img src="image/circle.png3.jpeg" height="12px" width="25px">
                          <img src="image/amex-card1.jpg" height="12px" width="25px">
                          and more....</td>
                      </tr>
                           <tr>
                               <td><input type="radio" href="#" name="cradit">&nbsp;&nbsp;QR Code</td>
                           </tr>
                               <tr>
                                   <td><input  type="radio" href="#" name="cradit">&nbsp;&nbsp;Bank Transfer</td>
                               </tr>
                 </table>

                  <center><div><button type="button" class="btn btn-primary" ><a href="QRCode.html"  style="color:white; text-decoration:none">Submit</a></button></div></center>




              </div>
           </center>







    </div>
    </center>


    <!-- Contact End -->

{% include "footer.html" %}